body {
    background:linear-gradient(to top right, #09203f 0%, #537895 100%);
}
.header{
    background-color:#f2f2f2;
}
.title{
    margin:0 auto;
    font-family: Philosopher;
    color:#f2f2f2;
    max-width: 800px;
    padding:0 30px 0 30px
}
.hamb{
    font-family:Quicksand;
}
.navbar i{
    color:#f2f2f2;
    padding:0 0 0 0px;
}    
.page-wrapper {
    margin:0 auto;
    font-family: Quicksand;
    padding:15px 50px 15px 50px;
    color:#f2f2f2;
    max-width: 1000px;
/* use . for classes, # for ids */
}
@keyframes title {0% {width:0%;} 100% {width:100%;}}
.hi {
    position:relative;
    font-size:40px;
}
.name{
    font-size:100px;
    position:relative;
    text-align:center;
}
.about{
    margin-left: 100x;
    margin-right: 100x;
    /*border-style: solid;
    border-color: #ffffff; */
    color:#09203f;
}
.titleimage{
    position:relative;
    border-radius:50%;
    max-width:285px;
    padding:10px;
    height:auto;
    text-align:center;
}
.slideshow{
    text-align:center;
}
.mySlides:not(:first-child) {
    text-align:center;
    display:none;
}
.fade{
    -webkit-animation-name:fade;
    -webkit-animation-duration:1.5s;
    animation-name:fade;
    animation-duration:1.5s;
    -o-animation-name:fade;
    -o-animation-duration:1.5s;
    -moz-animation-name:fade;
    -moz-animation-duration:1.5s;
}
@keyframes fade{from {opacity: .4} to {opacity: 1}}
@-moz-keyframes fade{from {opacity: .4} to {opacity: 1}}
@-webkit-keyframes fade{from {opacity: .4} to {opacity: 1}}
@-o-keyframes fade{from {opacity: .4} to {opacity: 1}}
.prev, .next{
    position:relative;
    cursor:pointer;
    overflow:hidden;
    font-weight:bold;
    font-size:20px;
    user-select:none;
    padding:8px;
    opacity:0.5;
    color:#ffffff;
    bottom: 150px;
}
.next{
}
.prev{ 
}
.prev:hover, .next:hover{
    background-color:rgba(0,0,0,0.5);
}
hr{
    color:#ffffff;
    border-width:3px;
    border-color:#f2f2f2;
    margin-top:0;
    margin-bottom:0;
}
/* p vs span. span makes it so there is no spacing between. p will have it like a line break */
.quote {
    text-align:center;
    color:#f2f2f2;
    font-family:Dancing Script;
    font-size: 40px;
}
.sections{
    color:#f2f2f2;
    font-family: Quicksand;
    text-align:center;
}
.spacing{
    padding: 5px 0 30px 0;
}
.jobinfo{
    font-family: Philosopher;
    text-align:center;
    font-size:20px;
}
.jobinfo:hover .date{
    opacity:0;
}
.jobinfo:hover .expimage{
    opacity:1;
}
.experience{
    padding: 10px 0 40px 0;
}
.expimage{
    position:relative;
    border-radius:50%;
    max-width:200px;
    height:auto;
    opacity:0.5;
    padding: 5px 0 5px 0;
}
.date{
    font-size:20px;
    background-color:rgba(0,68,102,0.5);
    padding:10px;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.projects{
    color:#f2f2f2;
}
.projectlevels{
    font-size:20px;
}
.levels{
    font-size: 20px;
    text-align:center;
    color:#f2f2f2;
}
.skills{
    font-size: 20px;
    background: linear-gradient(to right, #09203f 0%, #ff99bb 40%);*/
    border-style:solid;
    border-color: #09203f;
    padding: 5px 0 5px 10px;
}
    /* can do color gradients in any direction and multiple ones as well. */
.SFDC{
    width:88%;
    -webkit-animation: SFDC 4s ease;
    -moz-animation: SFDC 4s ease;
    -o-animation: SFDC 4s ease;
    animation: SFDC 4s ease;
}
.HTML{
    width:65%;
    -webkit-animation: HTML-CSS 4s ease;
    -moz-animation: HTML-CSS 4s ease;
    -o-animation: HTML-CSS 4s ease;
    animation: HTML-CSS 4s ease;
}
.JS{
    width:55%;
    -webkit-animation: JS 4s ease;
    -moz-animation: JS 4s ease;
    -o-animation: JS 4s ease;
    animation: JS 4s ease;
}
.SQL{
    width:45%;
    -webkit-animation: SQL 4s ease;
    -moz-animation: SQL 4s ease;
    -o-animation: SQL 4s ease;
    animation: SQL 4s ease;
}
@keyframes SFDC {0% {width:0%;} 100% {width:88%;}}
@-moz-keyframes SFDC {0% {width:0%;} 100% {width:88%;}}
@-webkit-keyframes SFDC {0% {width:0%;} 100% {width:88%;}}
@-o-keyframes SFDC {0% {width:0%;} 100% {width:88%;}}

@keyframes HTML-CSS {0% {width:0%;} 100% {width:65%;}}
@-moz-keyframes HTML-CSS {0% {width:0%;} 100% {width:65%;}}
@-webkit-keyframes HTML-CSS {0% {width:0%;} 100% {width:65%;}}
@-o-keyframes HTML-CSS {0% {width:0%;} 100% {width:65%;}}

@keyframes JS {0% {width:0%;} 100% {width:55%;}}
@-moz-keyframes JS {0% {width:0%;} 100% {width:55%;}}
@-webkit-keyframes JS {0% {width:0%;} 100% {width:55%;}}
@-o-keyframes JS {0% {width:0%;} 100% {width:55%;}}

@keyframes SQL {0% {width:0%;} 100% {width:45%;}}
@-moz-keyframes SQL {0% {width:0%;} 100% {width:45%;}}
@-webkit-keyframes SQL {0% {width:0%;} 100% {width:45%;}}
@-o-keyframes SQL {0% {width:0%;} 100% {width:45%;}}
.cert{
    text-align: center;
    font-size:20px;
}

.icons{
    font-size: 50px;
    padding: 0 20px 0 20px;
    text-decoration: none;
    color:#f2f2f2;
}
.icons:hover{
    color:#ff99bb;
}
#contact{
    text-align:center;
}
.navbar-nav li a{
    color:#f2f2f2;
}
