body {
    background:linear-gradient(to top right, #09203f 0%, #537895 100%);
}
.header{
    background-color:#f2f2f2;
}
.title{
    margin:0 auto;
    font-family: Philosopher;
    color:#f2f2f2;
    max-width: 800px;
    padding:0 30px 0 30px
}
.hamb{
    font-family:Quicksand;
}
.navbar i{
    color:#f2f2f2;
    padding:0 0 0 0px;
}
.navbar a:hover{
    color:#b3b3b3;
}
.page-wrapper {
    margin:0 auto;
    font-family: Quicksand;
    padding:15px 50px 15px 50px;
    color:#f2f2f2;
    max-width: 1000px;
    min-width: 375px;
/* use . for classes, # for ids */
}
@keyframes title {0% {width:0%;} 100% {width:100%;}}
.hi {
    position:relative;
    font-size:40px;
    /*border-right: 3px solid;
    display:inline-block;*/
    padding: 0 0 0 2.5px;
    margin:0;
}
.blinker{
    animation-name:blinker;
    animation-iteration-count:3;
    animation-duration:.8s;
    animation-fill-mode:forwards;
    border-right:3px solid;
    /*display:inline-block;
    width: 8px;
    height:50px;*/
}
@keyframes blinker {from {opacity:1;} to {opacity:0;}}
.name{
    font-size:100px;
    position:relative;
    text-align:center;
    animation-name:name;
    animation-duration:8s;
    -o-animation-name:name;
    -o-animation-duration:8s;
    -moz-animation-name:name;
    -moz-animation-duration:8s;
    -webkit-animation-name:name;
    -webkit-animation-duration:8s;
}
@keyframes name {0%{opacity:0;} 90%{opacity:0;} 100%{opacity:1;}}
@-o-keyframes name {0%{opacity:0;} 90%{opacity:0;} 100%{opacity:1;}}
@-moz-keyframes name {0%{opacity:0;} 90%{opacity:0;} 100%{opacity:1;}}
@-webkit-keyframes name {0%{opacity:0;} 90%{opacity:0;} 100%{opacity:1;}}
.about{
    margin-left: 100x;
    margin-right: 100x;
    /*border-style: solid;
    border-color: #ffffff; */
    color:#09203f;
}
.titleimage{
    position:relative;
    border-radius:50%;
    max-width:285px;
    padding:10px;
    height:auto;
}
@media screen and (max-width: 600px){
    .titleimage{
        max-width:240px;
        padding:5px;
    }
}
.slideshow{
    text-align:center;
    vertical-align:middle;

}
.mySlides:not(:first-child){
    display:none;
}
.fade{
    -webkit-animation-name:fade;
    -webkit-animation-duration:7s;
    animation-name:fade;
    animation-duration:7s;
    -o-animation-name:fade;
    -o-animation-duration:7s;
    -moz-animation-name:fade;
    -moz-animation-duration:7s;
}
@keyframes fade{0%{opacity:.3;}30%{opacity:1;}100%{opacity:1;}}
@-moz-keyframes fade{0%{opacity:.3;}30%{opacity:1;}100%{opacity:1;}}
@-webkit-keyframes fade{0%{opacity:.3;}30%{opacity:1;}100%{opacity:1;}}
@-o-keyframes fade{0%{opacity:.3;}30%{opacity:1;}100%{opacity:1;}}
.prev, .next{
    position:relative;
    cursor:pointer;
    overflow:hidden;
    font-weight:bold;
    font-size:20px;
    user-select:none;
    padding:8px;
    opacity:0.5;
    color:#ffffff;
    bottom: 150px;
}
.next{
}
.prev{ 
}
.prev:hover, .next:hover{
    background-color:rgba(0,0,0,0.5);
}
hr{
    color:#ffffff;
    border-width:3px;
    border-color:#f2f2f2;
    margin-top:0;
    margin-bottom:0;
}
/* p vs span. span makes it so there is no spacing between. p will have it like a line break */
.sections{
    color:#f2f2f2;
    font-family: Quicksand;
    text-align:center;
}
.spacing{
    padding: 5px 0 30px 0;
}
.jobinfo{
    font-family: Philosopher;
    text-align:center;
    font-size:20px;
}
.jobinfo:hover .date{
    opacity:0;
}
.jobinfo:hover .expimage{
    opacity:1;
}
.experience{
    padding: 10px 0 40px 0;
}
.expimage{
    position:relative;
    border-radius:50%;
    max-width:200px;
    height:auto;
    opacity:0.5;
    padding: 5px 0 5px 0;
}
.date{
    font-size:20px;
    /*background-color:rgba(0,68,102,0.5);
    padding:10px;*/
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.projects{
    color:#f2f2f2;
}
.projectlevels{
    font-size:20px;
}
.levels{
    font-size: 20px;
    text-align:center;
    color:#f2f2f2;
    padding:0 0 0 0;
}
 .levels p{
        margin-bottom: 0;
}
@media screen and (max-width:600px){
    .levels{
        font-size:20px;
    }
}
.hidden{
    
}
.hardskills{
    font-size: 20px;
    background: linear-gradient(to left, #ff1a66 0%, #09203f 100%);*/
    border-style:solid;
    border-color: #09203f;
    padding: 5px 0px 5px 10px;
}
.hardskills .col{
    padding:0px;
}
    /* can do color gradients in any direction and multiple ones as well. */
.SFDC{
    width:100%;
    -webkit-animation: SFDC 4s ease;
    -moz-animation: SFDC 4s ease;
    -o-animation: SFDC 4s ease;
    animation: SFDC 4s ease;
}
.HTML-CSS{
    width:75%;
    -webkit-animation: HTML-CSS 4s ease;
    -moz-animation: HTML-CSS 4s ease;
    -o-animation: HTML-CSS 4s ease;
    animation: HTML-CSS 4s ease;
}
.JS{
    width:55%;
    -webkit-animation: JS 4s ease;
    -moz-animation: JS 4s ease;
    -o-animation: JS 4s ease;
    animation: JS 4s ease;
}
.SOQL{
    width:90%;
    -webkit-animation: SOQL 4s ease;
    -moz-animation: SOQL 4s ease;
    -o-animation: SOQL 4s ease;
    animation: SOQL 4s ease;
}
.Apex{
    width:65%;
    -webkit-animation: Apex 4s ease;
    -moz-animation: Apex 4s ease;
    -o-animation: Apex 4s ease;
    animation: Apex 4s ease;    
}
@keyframes SFDC {0% {width:0%;} 100% {width:100%;}}
@-moz-keyframes SFDC {0% {width:0%;} 100% {width:100%;}}
@-webkit-keyframes SFDC {0% {width:0%;} 100% {width:100%;}}
@-o-keyframes SFDC {0% {width:0%;} 100% {width:100%;}}

@keyframes HTML-CSS {0% {width:0%;} 100% {width:75%;}}
@-moz-keyframes HTML-CSS {0% {width:0%;} 100% {width:75%;}}
@-webkit-keyframes HTML-CSS {0% {width:0%;} 100% {width:75%;}}
@-o-keyframes HTML-CSS {0% {width:0%;} 100% {width:75%;}}

@keyframes JS {0% {width:0%;} 100% {width:55%;}}
@-moz-keyframes JS {0% {width:0%;} 100% {width:55%;}}
@-webkit-keyframes JS {0% {width:0%;} 100% {width:55%;}}
@-o-keyframes JS {0% {width:0%;} 100% {width:55%;}}

@keyframes SOQL {0% {width:0%;} 100% {width:95%;}}
@-moz-keyframes SOQL {0% {width:0%;} 100% {width:95%;}}
@-webkit-keyframes SOQL {0% {width:0%;} 100% {width:95%;}}
@-o-keyframes SOQL {0% {width:0%;} 100% {width:95%;}}

@keyframes Apex {0% {width:0%;} 100% {width:65%;}}
@-moz-keyframes Apex {0% {width:0%;} 100% {width:65%;}}
@-webkit-keyframes Apex {0% {width:0%;} 100% {width:65%;}}
@-o-keyframes Apex {0% {width:0%;} 100% {width:65%;}}

.softskills{
    font-size: 20px;
    background: linear-gradient(to right, #ff1a66 0%, #09203f 100%);*/
    border-style:solid;
    border-color: #09203f;
    padding: 5px 5px 5px 10px;
}
.softskills .col{
    text-align:right;
    padding:0;

}
    /* can do color gradients in any direction and multiple ones as well. */
.bsa{
    width:100%;
    -webkit-animation: bsa 4s ease;
    -moz-animation: bsa 4s ease;
    -o-animation: bsa 4s ease;
    animation: bsa 4s ease;
}
.pm{
    width:75%;
    align-items:right;
    -webkit-animation: pm 4s ease;
    -moz-animation: pm 4s ease;
    -o-animation: pm 4s ease;
    animation: pm 4s ease;
}
.comm{
    width:55%;
    -webkit-animation: comm 4s ease;
    -moz-animation: comm 4s ease;
    -o-animation: comm 4s ease;
    animation: comm 4s ease;
}
.tm{
    width:95%;
    -webkit-animation: tm 4s ease;
    -moz-animation: tm 4s ease;
    -o-animation: tm 4s ease;
    animation: tm 4s ease;
}
.ps{
    width:65%;
    -webkit-animation: ps 4s ease;
    -moz-animation: ps 4s ease;
    -o-animation: ps 4s ease;
    animation: ps 4s ease;    
}
@keyframes bsa {0% {width:0%;} 100% {width:100%;}}
@-moz-keyframes bsa {0% {width:0%;} 100% {width:100%;}}
@-webkit-keyframes bsa {0% {width:0%;} 100% {width:100%;}}
@-o-keyframes bsa {0% {width:0%;} 100% {width:100%;}}

@keyframes pm {0% {width:75%;} 100% {width:0%;}}
@-moz-keyframes pm {0% {width:75%;} 100% {width:0%;}}
@-webkit-keyframes pm {0% {width:75%;} 100% {width:0%;}}
@-o-keyframes pm {0% {width:75%;} 100% {width:0%;}}

@keyframes comm {0% {width:0%;} 100% {width:55%;}}
@-moz-keyframes comm {0% {width:0%;} 100% {width:55%;}}
@-webkit-keyframes comm {0% {width:0%;} 100% {width:55%;}}
@-o-keyframes comm {0% {width:0%;} 100% {width:55%;}}

@keyframes tm {0% {width:0%;} 100% {width:95%;}}
@-moz-keyframes tm {0% {width:0%;} 100% {width:95%;}}
@-webkit-keyframes tm {0% {width:0%;} 100% {width:95%;}}
@-o-keyframes tm {0% {width:0%;} 100% {width:95%;}}

@keyframes ps {0% {width:0%;} 100% {width:65%;}}
@-moz-keyframes ps {0% {width:0%;} 100% {width:65%;}}
@-webkit-keyframes ps {0% {width:0%;} 100% {width:65%;}}
@-o-keyframes ps {0% {width:0%;} 100% {width:65%;}}


.cert{
    padding-bottom: 10px;
    text-align: center;
    font-size:20px;
}
.cert .current{
    opacity:1;
}
.cert .upcoming{
    opacity:.5;
}
.cert:hover .current{
    opacity:.5;
}
.cert:hover .date{
    opacity:1;
}
.cert .date{
    opacity:0;
}


.icons{
    font-size: 50px;
    padding: 0 20px 0 20px;
    text-decoration: none;
    color:#f2f2f2;
}
@media screen and (max-width:600px){
    .icons{
    font-size: 40px;
        padding: 0 10px 0 10px;
    }
}
.icons:hover{
    color:#ff1a66;
}
#contact{
    text-align:center;
}
.navbar-nav li a{
    color:#f2f2f2;
}
.quote {
    text-align:center;
    color:#f2f2f2;
    font-family:Satisfy;
    font-size: 40px;
}